body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.canvasDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}
.card{
    width: 300px;
    height: 140px;
    padding: 30px;
    position: absolute;
    background-color: indigo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 8px;
    border: 4px solid #ff6600;
    
}
#start{
    opacity: 1;
}
#restart{
    opacity: 0;
}
#restartButton{
    height: 38px;
    width: 144px;
    margin-top: 20px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
}

@media (max-width: 440px) {
    button {
        margin-top: 5px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}